/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* NAVBAR */

.nama-logo {
  margin-left: 20px;
}

.custom-navbar {
  width: 1200px;
  margin: auto ;
}

.pembungkus {
  display: flex;
  justify-content: space-between;
}

.mr-auto {
  margin-left: 10px;
}
.simple-text {
  margin-right: 20px;
}

/* HOMEPAGE */
.jumbotron {
  width: 1200px;
  margin: auto ;
}


/* CARDCOMPONENT */


